{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Добавление задачи</title>
    <link rel="stylesheet" href="{% static 'css/add.css'%}" type="text/css">
</head>
<body>
<button name="write" class="exitBtn" onclick="window.location.href='index.html'">Выход</button>
<h3 class="cssdata">Сегодня:<div id="current_date_time_block"></div></h3>
      <h2 id="myDIV">Новая задача</h2>
    <div id="my">
        <p >Название: </p>
        <input  type="text" id="myInput" placeholder="Название..."/><br>
        <p id="text">Дата завершения: </p>
        <br><input type="date" id="myDate" name="myDate"/>
    </div>
      <button onclick="newElement(window.location.href='index.html')" class="addBtn">Добавить</button>
    </div>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>