{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/add.css'%}" type="text/css">
{% endblock %}

{% block title %}Добавление задачи{% endblock %}

{% block content %}
    <button name="write" class="exitBtn" onclick="window.location.href='exit.html'">Выход</button>
    <h3 class="cssdata">Сегодня: <br>{{date_today | date:"d.m.Y"}}</h3>
    <h2 id="myDIV">Новая задача</h2>
    <form  method="post">
    <div id="my">
        {% csrf_token %}
        <p >Название: </p>
        {{ form.task_name }}<br>
        <p id="text">Дата завершения: </p>
        <br>{{ form.data }}
        <span> {{ error }}</span></div>

        <button  class="addBtn" >Добавить</button>
    </form>
{% endblock %}
