{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Добавление задачи</title>
    <link rel="stylesheet" href="{% static 'css/add.css'%}" type="text/css">
</head>
<body>
<button name="write" class="exitBtn" onclick="window.location.href='exit.html'">Выход</button>
<h3 class="cssdata">Сегодня:<div id="current_date_time_block"></div></h3>
      <h2 id="myDIV">Новая задача</h2>
    <form id="my" method="post" >
        {% csrf_token %}
        <p >Название: </p>
        {{ form.task_name }}<br>
        <p id="text">Дата завершения: </p>
        <br>{{ form.data }}
        <span> {{ error }}</span>
    </form>
      <button onclick="newElement(window.location.href='index.html')" class="addBtn" type="submit">Добавить</button>
    </div>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>