{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/exit.css'%}" type="text/css">
{% endblock %}

{% block title %}Вход{% endblock %}

{% block content %}
    <div class="exit">
        <h2 style="text-align: center">Авторизация</h2>
        <form method="post" >
            {% csrf_token %}
        <input type="text" placeholder="Логин" id="myLogin" name="login"><br>
        <input type="password" placeholder="Пароль" id="myPassword" name="password">

        <button type="submit" class="exitBtn">Вход</button>
        </form>
        <div id="nullExit">{{ message }}</div>
    </div>
{% endblock %}
