{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/exit.css'%}" type="text/css">
    <title>Вход</title>
</head>
<body>
    <div class="exit">
        <h2 style="text-align: center">Авторизация</h2>
        <input type="text" placeholder="Логин" name="myLogin"><br>
        <input type="password" placeholder="Пароль" name="myPassword">
        <button id='btn' onclick="btn" class="exitBtn">Вход</button>
    </div>
<script src="{% static 'js/exit.js' %}"></script>
</body>
</html>